@import '~bootstrap/scss/bootstrap';
.block-button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.block {
    text-align: center;
    width: 200px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    .block {
        left: -100px;
        top: 50px;
    }
    .remove {
        background: #ff6b6b;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    &.trigger {
        background: #f8ffef;
    }
    &.condition {
        background: #daeeff;
    }
    &.action {
        background: #ffebeb;
    }
    .title {
        margin-top: 20px;
        font-weight: bold;
        pointer-events: none;
    }
    .line {
        width: 2px;
        height: 25px;
        background: #ddd;
        position: absolute;
        left: 50%;
        top: 100%;
        &.horizontal {
            width: 200px;
            height: 2px;
            >.line.success {
                right: 0px;
                left: auto;
            }
        }
        &.top {
            top: -25px;
        }
        &.success {
            >.line.horizontal {
                background: rgb(117, 192, 129);
                left: 0px;
                >.success {
                    right: 0px;
                    background: rgb(117, 192, 129);
                }
            }
        }
        &.fail {
            >.line.horizontal {
                background: rgb(204, 128, 128);
                left: auto;
                right: 0px;
                >.fail {
                    left: 0px;
                    background: rgb(204, 128, 128);
                }
            }
        }
    }
    .add-button {
        position: absolute;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        top: 12px;
        left: -13px;
        outline: none;
        box-shadow: none;
        border: 1px solid #aaa;
        font-size: 12px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        line-height: 26px;
        color: #666;
        margin-left: 1px;
        z-index: 20;
        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }
    }
    .placeholder {
        width: 200px;
        height: 100px;
        border-radius: 5px;
        border: 2px dashed #ddd;
        position: absolute;
        top: 150px;
        .line {
            top: -25px;
        }
    }
    .description {
        font-size: 10px;
        padding: 0px 10px;
    }
}

.canvas {
    overflow: scroll;
    height: calc( 100vh - 200px);
    padding: 100px;
}
